@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');
@import url('https://fonts.googleapis.com/css?family=Caveat');
@import url('https://fonts.googleapis.com/css?family=Handlee');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
/*font-family: 'Caveat', cursive;*/

#Encabezado h1 {
	font-family: 'Lobster', serif;
	text-align: center;
	font-size: 4.1em;
	color: #ffffff;
	background-color: #e2e6ea;
	padding: 0;
	margin: 0;
    height: 14vh;
}

html {
	background-color: #e2e6ea;
	padding: 0;
	margin: 0;
	width: 100%;
}

body {
	background-color: #e2e6ea;
   	margin: 0;
   	padding: 0;
}

#SeccUno{
	padding: 0;
	margin: 0;
}

#SeccUno #Perdido{
	    background-color: #23c3b5;
	    font-family: 'Montserrat', sans-serif;
	    font-weight: 600;
    	height: 60vh;
    	padding-top: 5%;
}

#SeccUno #Encontrado{
	    background-color: #24d493;
	    font-family: 'Montserrat', sans-serif;
	    font-weight: 600;
    	height: 60vh;
    	padding-top: 5%;
}

#SeccUno img{
	height: 25vh;
}

#SeccUno img:hover {
}

#SeccUno #Perdido p{
	font-size: 20px;
}

#SeccUno #Encontrado p{
	font-size: 20px;
}

.row{
	margin: 0;
}

/* Grow Shadow */
.hvr-grow-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}

.hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}